body {
    background-color: #353535;
    margin: 0;
    font-family: 'Roboto', sans-serif; 
    color: white;
}

#movie-backdrop {
    filter: blur(10px); 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 700px;
    z-index: -1;
}

.logo {
    margin-top: 40px;
    margin-left: 50px;
    width: 130px;
    height: auto;
}

#logo-a {
    height: 100px;
}

.navigation {
    display: flex;
    margin-bottom: 700px;
}

.recherche {
    display: flex;
    margin-left: 100px;
    margin-top: 70px;
    height: 50px;
}

#icon-recherche {
    width: 30px;
    height: 30px;
    margin-left: 20px;
    margin-top: -30px;
}

#texte-recherhe {
    width: 30px;
    font-size: 15px;
    margin-left: 10px;
    margin-top: -23px;
    height: 40px;
    color: #fff;
}

/* Détails du film */
.movie-details {
    display: grid;
    grid-template-columns: 1fr 3fr; /* 1 colonne pour le poster et 2 colonnes pour le titre et la description */
    grid-gap: 10px; /* Espacement entre les colonnes */
    color: #fff;
    margin-top: -700px;
    margin-left: 300px;
}

/* Première colonne - Poster, Date et Note */
.left-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#movie-title {
    width: 100%;
    font-size: 2.5em;
    margin-bottom: 20px;
}

#movie-poster {
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
    margin: 20px 0;
    display: block;
}

#movie-release-date,
#movie-rating {
    margin-top: 10px;
    font-size: 1.1em;
}

/* Deuxième colonne - Titre et Description */
.right-column {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#movie-overview {
    width: 800px;
    margin-top: 20px;
    font-size: 1.2em;
    line-height: 1.6;
    color: #ccc;
}


#name-acteur {
    margin-top: 150px;
    margin-left: 100px;
}

.actors {
    margin-top: 50px;
    margin-left: 100px;
    display: block; /* Affiche les acteurs sous forme de tableau */
    width: auto; /* Laisse le tableau occuper toute la largeur disponible */
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #454545;
    border-radius: 8px;
    color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #333;
    font-size: 1.1em;
}

td {
    font-size: 1em;
}

.actor-image {
    width: 50px;
    height: 75px;
    border-radius: 5px;
    margin-left: 10px;
}
/* Lien */
a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:hover {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}